{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "FunctionCallRemoval": {
            "ignore": [
                "ReactParallel\\Pool\\Worker\\Worker::perform::88"
            ]
        },
        "GreaterThan": {
            "ignore": [
                "ReactParallel\\Pool\\Worker\\Thread::close::85"
            ]
        },
        "GreaterThanNegotiation": {
            "ignore": [
                "ReactParallel\\Pool\\Worker\\Thread::close::85"
            ]
        },
        "Identical": {
            "ignore": [
                "ReactParallel\\Pool\\Worker\\Thread::__construct::44",
                "ReactParallel\\Pool\\Worker\\Thread::close::85",
                "ReactParallel\\Pool\\Worker\\Worker::getIdleThread::149"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "ReactParallel\\Pool\\Worker\\Thread::__construct::40",
                "ReactParallel\\Pool\\Worker\\Thread::__construct::45",
                "ReactParallel\\Pool\\Worker\\Thread::__construct::49",
                "ReactParallel\\Pool\\Worker\\Thread::__construct::55",
                "ReactParallel\\Pool\\Worker\\Thread::perform::77",
                "ReactParallel\\Pool\\Worker\\Thread::close::84",
                "ReactParallel\\Pool\\Worker\\Thread::close::90",
                "ReactParallel\\Pool\\Worker\\Thread\\Performer::create::30",
                "ReactParallel\\Pool\\Worker\\Thread\\Performer::create::32",
                "ReactParallel\\Pool\\Worker\\Worker::perform::99",
                "ReactParallel\\Pool\\Worker\\Worker::kill::123",
                "ReactParallel\\Pool\\Worker\\Worker::getIdleThread::150",
                "ReactParallel\\Pool\\Worker\\Worker::startTtlTimer::176"
            ]
        },
        "NotIdentical": {
            "ignore": [
                "ReactParallel\\Pool\\Worker\\Thread::close::86"
            ]
        },
        "PublicVisibility": {
            "ignore": [
                "ReactParallel\\Pool\\Worker\\Worker::close::82",
                "ReactParallel\\Pool\\Worker\\Worker::perform::77"
            ]
        }
    }
}
