parameters:
	ignoreErrors:
		- '#Call to an undefined method React\\Promise\\PromiseInterface::always\(\).#'
		- '#Call to an undefined method React\\Promise\\PromiseInterface::done\(\).#'
		- '#In method \"ReactParallel\\Pool\\Worker\\Thread\\Performer::create\", caught \"Throwable\" must be rethrown.#'
		- '#Parameter \#1 \$it of function iterator_to_array expects Traversable, iterable<string, int> given.#'
	ergebnis:
		classesAllowedToBeExtended:
			- Exception
			- ReactParallel\Tests\AbstractPoolTest

includes:
	- vendor/wyrihaximus/async-test-utilities/rules.neon